{{#each rows}}
<div
  style="margin-top:5px;background: #fff;margin-right:auto;margin-left:auto;width: 60%;border-radius: 15px;padding: 0px 0px 5px 10px;box-shadow: 0px 10px 15px rgba(0,0,0,0.1);"
>
  <div style="display: flex;">
    <p style=" font-size:x-large">{{this.nom_auteur}}</p>
    <p
      style="color: rgb(87, 87, 87); margin-left:20%; margin-top:4%"
    >{{this.temps_pub}}</p>
  </div>
  <p style="font-size: 25px;">{{this.texte_statut}}</p>
</div>
